
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="about-us">
    <div class="container">
        <div class="col-md-6">
            <div class="the-headline">
                <h1>Про <span class="accentcolor" style="color: #e0d224;">нас</span></h1>
                <h3 style="font-size:16px; font-weight: bold;">Вітаємо Вас на сайті ТзОВ «ВТУЛКА»: українського виробника паперового посуду найвищої якості.</h3>
            </div>
            <div class="textwidget" style="text-align: justify;">
                <p>
                    Ми пропонуємо високоякісні поліуретанові сайлентблоки для легкових автомобілів торгових марок «CASTER» і «SURFIL». Все сайлентблоки і втулки виготовлені з трикомпонентних поліуретанових систем, спеціально розроблених для підвісок автомобілів, виробництва Англії.

                    Сайлентблоки торгової марки «CASTER» виготовляються на потужностях світового лідера в області роботи з поліуретановими компонентами в підвісках автомобілів - компанією «SURFIL». Вже ні для кого не секрет, що сайлентблоки вироблені цією компанією є кращими за багатьма показниками, будь то керованість автомобіля або довговічність роботи підвіски.

                    У Вас може виникнути резонне питання, чому ми продаємо сайлентблоткі «SURFIL» під своєю торговою маркою, хоча це ті ж самі сайлентблоки і по тій же ціні. Все дуже просто, на даному етапі, асортимент сайлентблоков «CASTER» точно збігається з асортиментом продукції «SURFIL», але в майбутньому наш асортимент буде значно розширюватися, так як ми не просто продаємо продукцію «SURFIL», а й замовляємо розробку і виготовлення сайлентблоков спеціально для нашого підприємства.



                    Чому в якості виробника сайлентблоков для нашої торгової марки ми вибрали саме «SURFIL»?
                </p>
            </div>
        </div>
        <div class="col-md-6 wow fadeInRight animated animated" style="visibility: visible; animation-name: fadeInRight;">
            <img alt="" src="/img/2.jpg" class="so-widget-image" style="max-width:100%; height:auto; display:block">
        </div>
    </div>
</section>
<section style="" class="margin-bottom50">

    <div class="container">

        <div class="the-headline text-center">
            <h1><span class="accentcolor">Ми</span>виготовляємо</h1>
            <div class="decoration">
                <div class="decoration-inside">
                </div>
            </div>
            <h3>Ми пропонуємо свої послуги по виготовленню:</h3>
        </div>
        <div class="sow-services-list">
            <div class="our-services service-icon-list">

                <div class="col-md-6 sow-services-service">
                    <div class="content">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="type">
                                    <span class="sow-icon-fontawesome"><i class="fa fa-car" aria-hidden="true"></i></span>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <h3>Довговічність </h3>
                                <p>Ресурс поліретанових деталей у 3- 4 рази більший ніж у гумових.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 sow-services-service">
                    <div class="content">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="type">
                                    <span class="sow-icon-fontawesome"><i class="fa fa-car" aria-hidden="true"></i></span>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <h3>Довговічність </h3>
                                <p>Ресурс поліретанових деталей у 3- 4 рази більший ніж у гумових.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 sow-services-service">
                    <div class="content">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="type">
                                    <span class="sow-icon-fontawesome"><i class="fa fa-car" aria-hidden="true"></i></span>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <h3>Гофростакани</h3>
                                <p>
                                    Найкращий вибір для тих хто цінує якість та зручність!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 sow-services-service">
                    <div class="content">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="type">
                                    <span class="sow-icon-fontawesome"><i class="fa fa-car" aria-hidden="true"></i></span>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <h3>Довговічність </h3>
                                <p>Ресурс поліретанових деталей у 3- 4 рази більший ніж у гумових.</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

</section>

