
@{
    ViewBag.Title = "Contacts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="jumbotron jumbotron-sm" style="background-color:#151515;color:white;">
        <div class="row">
            <div class="col-sm-12 col-lg-4">
                <h2>
                    Адреса:
                </h2>
                <p>м.Львів, вул. Невідома 2А</p>
            </div>
            <div class="col-sm-12 col-lg-4">
                <h2>
                    Контаткти
                </h2>
                <p>
                    097 777 77 77<br>
                    093 333 33 33<br>
                    aaaa@gmail.com
                </p>
            </div>
            <div class="col-sm-12 col-lg-4">
                <h3>
                    Графік роботи:
                </h3>
                <p>
                    пн-пт: з 9:00 до 18:00<br>
                    субота: з 10:00 до 14:00<br>
                    неділя: вихідний
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="well">
                <h3 style="line-height:20%;"><i class="fa fa-home fa-1x" style="line-height:6%;color:#339966"></i> Адреса:</h3>
                <p style="margin-top:6%;line-height:35%">Вул.Невдома 2А</p>
                <br />
                <br />
                <h3 style="line-height:20%;"><i class="fa fa-envelope fa-1x" style="line-height:6%;color:#339966"></i> E-Mail:</h3>
                <p style="margin-top:6%;line-height:35%">autorally@gmail.com</p>
                <br />
                <br />
                <h3 style="line-height:20%;"><i class="fa fa-user fa-1x" style="line-height:6%;color:#339966"></i> Tonny Stark:</h3>
                <p style="margin-top:6%;line-height:35%">Tonny Stark</p>
                <br />
                <br />
                <h3 style="line-height:20%;"><i class="fa fa-yelp fa-1x" style="line-height:6%;color:#339966"></i> Телефон:</h3>
                <p style="margin-top:6%;line-height:35%"><a href="autorally.com">+3809777777777</a></p>
            </div>
        </div>
        <div class="col-md-6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d12240.848298480654!2d24.03562317899082!3d49.83641892310372!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sru!4v1500159363556" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
</div>
<div class="container-fluid maps">
    <div class="row">
        <div class="col-md-12">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d12240.848298480654!2d24.03562317899082!3d49.83641892310372!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sru!4v1500159363556" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
</div>

