
@{
    ViewBag.Title = "DeliveryDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="payment_and_delivery">
    <h2>Доставка та оплата</h2>
    <div class="container">
        <h3>Способи доставки</h3>
        <div class="row">
            <div class="col-lg-4">
                <img class="rounded-circle" src="/img/delivery/nova-poshta.png" alt="Generic placeholder image" width="180" height="140">
                <h2>Доставка у відділення</h2>
                <ul>
                    <li>Термін доставки 1-3 дні</li>
                    <li>Вартість згідно тарифів перевізника</li>
                    <li>Як правило 30 - 40 грн</li>
                    <li><a href="https://novaposhta.ua/delivery">Розрахувати вартість доставки</a></li>
                </ul>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="rounded-circle" src="/img/delivery/dostavka-knig-kur'erom-v-kieve.png" alt="Generic placeholder image" width="150" height="140">
                <h2>Доставка кур'єром</h2>
                <ul>
                    <li>Термін доставки 1-3 дні</li>
                    <li>Вартість як правило 40-50 грн</li>
                    <li><a href="https://novaposhta.ua/delivery">Розрахувати вартість доставки</a></li>
                </ul>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="rounded-circle" src="/img/delivery/delivery_time.png" alt="Generic placeholder image" width="190" height="140">
                <h2>Відправка</h2>
                <ul>
                    <li>Замовлення до 12:00 відправляється того ж дня</li>
                    <li>Замовлення після 12:00 - на наступний день</li>
                </ul>
            </div><!-- /.col-lg-4 -->
        </div>
        <div class="row">
            <div class="col-md-4">
                <img class="rounded-circle" src="/img/delivery/autolux.jpg" alt="Generic placeholder image" width="230" height="140">
                <h2>Доставка у відділення</h2>
                <ul>
                    <li>Термін доставки 1-3 дні</li>
                    <li>Вартість згідно тарифів перевізника<a href="http://autolux-post.com.ua/tariffs/">Тарифи</a></li>
                    <li>Як правило 20 - 25 грн</li>
                    <li><a href="http://autolux-post.com.ua/calc/">Розрахувати вартість доставки</a></li>
                </ul>
            </div><!-- /.col-lg-4 -->
            <div class="col-md-4">
                <img class="rounded-circle" src="/img/delivery/our_team.JPG" alt="Generic placeholder image" width="220" height="140">
                <h2>Доставка кур'єром</h2>
                <ul>
                    <li>Термін доставки 1-3 дні</li>
                    <li>Вартість як правило 40-50 грн</li>
                    <li><a href="https://novaposhta.ua/delivery">Розрахувати вартість доставки</a></li>
                </ul>
            </div><!-- /.col-lg-4 -->
            <div class="col-md-4">
                <img class="rounded-circle" src="/img/delivery/samovivoz-e0433d15.jpg" alt="Generic placeholder image" width="190" height="140">
                <h2>Самовивіз</h2>
                <ul>
                    <li>
                        Замовлення можна забрати <p><a class="btn btn-secondary" href="contact_us_page.html" role="button">Детальніше »</a></p>
                    </li>
                    <li>За адресою вул. Невідома 2А</li>
                </ul>
            </div><!-- /.col-lg-4 -->
        </div>
    </div>
    <div class="container">
        <h2>Оплата</h2>
        <div class="row">
            <div class="col-md-4">
                <img class="rounded-circle" src="/img/delivery/pay.png" alt="Generic placeholder image" width="140" height="140">
                <h2>Готівкова</h2>
                <p>Оплата готівкою при отримані товару</p>
            </div>
            <div class="col-md-4">
                <img class="rounded-circle" src="/img/delivery/beznal.png" alt="Generic placeholder image" width="140" height="140">
                <h2>Безготівкова</h2>
                <p>Оплата за безготівковим розрахунком провадиться в касі відділення будь-якого банку або з розрахункового рахунку Вашої фірми</p>
                <p>При виборі безготівкового способу оплати доставка замовлення можлива після надходження коштів на наш розрахунковий рахунок</p>
            </div>
            <div class="col-md-4">
                <img class="rounded-circle" src="/img/delivery/card6.png" alt="Generic placeholder image" width="140" height="140">
                <h2>Visa і MasterCard</h2>
                <p>Оплата замовлення онлайн банківською картою Visa і MasterCard</p>
                <p>Доставка товару можлива тільки після підтвердження платежу.</p>
            </div>
        </div>
    </div>
</section>

