<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body id="page-top" class="index">

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <a class="navbar-brand page-scroll" href="/">
                <img src="/img/logo/logo_300px.png" alt="logo" class="logo" style="height: 30px;margin-top: 10px;">
            </a>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/management/detail/create">Додати запчастину</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/management/car/create">Додати авто</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div style="margin-top: 50px;" class="container">
        @RenderBody()
    </div>
    <footer>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <p>© Інтернет-магазин «Розетка™» 2001–2017</p>
                    <p>
                        ТМ використовується на підставі ліцензії
                        правовласника RozetkaLTD
                    </p>
                    <p>
                        Графік роботи Call-центру<br>
                        У будні дні з 8 до 21<br>
                        Субота з 9 до 20<br>
                        Неділя з 10 до 19
                    </p>
                </div>
                <div class="col-md-4">
                    <ul>
                        <li class="hidden">
                            <a href="#page-top"></a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#catalog">Каталог</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#delivery">Оплата і доставка</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#about">Про компанію</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#polyurethane">Поліуретан</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#contact">Контакти</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 tel">
                    <br>
                    <a href="tel:+1234567890">+38 (097) 777-77-77</a><br>
                    <a href="tel:+1234567890">+38 (093) 333-33-33</a><br>
                    <address>м. Львів, вул. Невідома 2а</address>
                    <ul class="social-network social-circle">
                        <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <script src="/js/bootstrap.min.js"></script>    
</body>
</html>


