<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
</head>
<body id="page-top" class="index">

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <a class="navbar-brand page-scroll" href="/">
                <img src="/img/logo/logo_300px.png" alt="logo" class="logo" style="height: 30px;margin-top: 10px;">
            </a>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/management/detail/create">Додати запчастину</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/management/car/create">Додати авто</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/event/latest">Події</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div style="margin-top: 100px;" class="container">
        @RenderBody()
    </div>
    <footer id="footer" class="footer2">
        <div class="scrolltop">
            <div class="scroll icon">
                <a href="#index.html" id="back-to-top" class="show"><i class="fa fa-angle-up"></i></a>
            </div>
        </div>
        <div class="inner sep-bottom-md">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="text-2 widget_text">
                            <div class="widget sep-top-lg">
                                <div class="textwidget">
                                    <p style="text-align: justify;">
                                        ТзОВ "Автораллі"- © 2013 Поліуретанові втулки та сайлентблоки. Усі права застережено. Карта сайту
                                        Копіювання, тиражування, розповсюдження або будь-яке інше використання інформації категорично забороняється!© 2013 Поліуретанові втулки та сайлентблоки. Усі права застережено. Карта сайту
                                        Копіювання, тиражування, розповсюдження або будь-яке інше використання інформації категорично забороняється!
                                    </p>
                                    <ul class="social-network social-circle">
                                        <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                                        <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="socialwidget-2 SocialWidget" style="display: none;">
                            <div class="widget sep-top-lg">
                                <h3 class="upper widget-title">Розповісти про нас</h3>
                                <div class="social-widget">
                                    <a target="_blank" href="/">
                                        <div class="social-bg">
                                            <i class="fa fa-twitter"></i>
                                        </div>
                                    </a><a target="_blank" href="/">
                                        <div class="social-bg">
                                            <i class="fa fa-facebook"></i>
                                        </div>
                                    </a><a target="_blank" href="/">
                                        <div class="social-bg">
                                            <i class="fa fa-pinterest"></i>
                                        </div>
                                    </a><a target="_blank" href="/">
                                        <div class="social-bg">
                                            <i class="fa fa-google-plus"></i>
                                        </div>
                                    </a><a target="_blank" href="/">
                                        <div class="social-bg">
                                            <i class="fa fa-skype"></i>
                                        </div>
                                    </a>
                                </div>
                            </div><p style="filter: alpha(opacity=0); opacity: 0; position: absolute; z-index: 1;">Both are <a href="http://www.replicaonlines.me.uk">replica watches uk</a> the classic bar-shaped <a href="http://www.replicawatchesshop.co.uk">replica watches</a> needle, around the circle of gold engraved with <a href="http://www.web-farm.co.uk">rolex replica</a> ring looming, highlighting the honor of <a href="http://www.bestukwatches.co.uk">replica watches online</a>.</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="search-3 widget_search">
                            <div class="widget sep-top-lg">
                                <h3 class="upper widget-title">Замовляйте у нас</h3>
                                <div class="textwidget">
                                    <p>У нас ви можете замовити великі партії продукції, яка буде виконана якісно та в строк.</p>
                                </div>
                            </div>
                        </div>
                        <div class="recent-posts-3 widget_recent_entries">
                            <div class="widget sep-top-lg">
                                <h3 class="upper widget-title">Останні новини</h3>
                                <a href="#page-top"></a>
                                <a class="page-scroll" href="#catalog">Каталог</a><br>
                                <a class="page-scroll" href="#delivery">Оплата і доставка</a><br>
                                <a class="page-scroll" href="#about_us">Про компанію</a><br>
                                <a class="page-scroll" href="#polyurethane">Поліуретан</a><br>
                                <a class="page-scroll" href="#contact">Контакти</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="text-3 widget_text">
                            <div class="widget sep-top-lg">
                                <h3 class="upper widget-title">Ми працюємо:</h3>
                                <div class="textwidget">
                                    <p>
                                        Ми доступні 24/7: (032)-777-77-77
                                    </p>
                                    <p>
                                        Понеділок-п'ятниця: 09-00-18-00<br>
                                        Субота:10-00-15-00<br>
                                        Неділя: Зачинено
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="text-4 widget_text">
                            <div class="widget sep-top-lg">
                                <h3 class="upper widget-title">Нас можна знайти:</h3>
                                <div class="textwidget">
                                    <p>
                                        Україна м.Львів<br>
                                        вул.невідома 2а.<br>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="text-5 widget_text">
                            <div class="widget sep-top-lg">
                                <h3 class="upper widget-title">Швидкий зв`язок:</h3>
                                <div class="textwidget">
                                    <form method="post" action="/Home/ContactMail" id="contactform">
                                        <div class="form wpcf7-form .form-control">
                                            <div class="controls controls-row">
                                                <input type="text" name="name" placeholder="ім'я" class="form-control"><br>
                                                <input type="text" name="email" placeholder="E-mail" class="form-control"><br>
                                            </div>
                                            <div class="controls">
                                                <textarea name="comment" rows="4" placeholder="Повідомлення" class="form-control"></textarea><br>
                                            </div>
                                            <input type="submit" id="submit" class="btn btn-primary" value="Надіслати">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="/js/bootstrap.min.js"></script>    
</body>
</html>


