
@{
    ViewBag.Title = "CreateNewCar";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>CreateNewCar</h2>


<form class="form-horizontal">
    <fieldset>

        <!-- Form Name -->
        <legend>Create new car</legend>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="Марка">марка</label>  
            <div class="col-md-4">
                <input id="Марка" name="Марка" type="text" placeholder="Ford" class="form-control input-md" required="">
                <span class="help-block">Введіть марку авто</span>  
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="">Модель</label>  
            <div class="col-md-4">
                <input id="" name="" type="text" placeholder="placeholder" class="form-control input-md">
                <span class="help-block">help</span>  
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Рік</label>  
            <div class="col-md-4">
                <input id="textinput" name="textinput" type="text" placeholder="placeholder" class="form-control input-md">
                <span class="help-block">help</span>  
            </div>
        </div>

    </fieldset>
</form>


