@{
    ViewBag.Title = "CreateNewDetail";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <div class="row">
        <form class="form-horizontal" method="post" enctype="multipart/form-data">
            <fieldset>
                <legend class="text-center">Додавання продукту</legend>
                <div class="form-group">
                    <label class="col-lg-2 control-label">Код запчастини (выд виробника)</label>
                    <div class="col-lg-4">
                        <input type="text" class="form-control" id="detail-name" placeholder="V10-7184-1">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">Короткий опис</label>
                    <div class="col-lg-4">
                        <input type="text" class="form-control" id="short-description" placeholder="">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">Зображення</label>
                    <div class="col-lg-4">
                        <input type="file" class="form-control" id="images" multiple>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">Ціна</label>
                    <div class="col-lg-4">
                        <input type="text" class="form-control" id="price" placeholder="">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">Параметри</label>
                    <div id="params-container" class="col-md-4">
                        <div name="param-line" class="row">
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="name" multiple>
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="value" multiple>
                            </div>        
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10 col-md-offset-2">
                        <a class="btn btn-sm btn-success" onclick="AddMoreParams()">Додати ще</a>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">Довгий опис</label>
                    <div class="col-lg-4">
                        <textarea class="form-control" rows="3" id="description"></textarea>
                        <span class="help-block"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4 col-md-offset-2">
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <div class="row">
                                    <h3 class="panel-title col-md-12">Підходить для: <a class="btn btn-default btn-sm pull-right" data-toggle="modal" data-target="#selectCarModal">Вибрати</a></h3>
                                </div>
                            </div>
                            <div class="panel-body" id="selected-cars">
                                
                            </div>
                        </div>
                    </div>

                    @*<label class="col-lg-2 control-label">Підходить для:</label>
                    <div class="col-lg-4">
                        <>
                    </div>*@
                </div>
            </fieldset>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <a class="btn btn-default">Відмінити</a>
                    <a class="btn btn-primary" onclick="UpdateProduct()">Ок</a>
                </div>
            </div>
        </form>
    </div>
</div>


<!-- Select car modal form -->
<div id="selectCarModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Виберіть автомобілі</h4>
            </div>
            <div class="modal-body">
                <div id="wrap">
                    <div class="product-head">
                        <div id="form"></div>
                        <div class="clear"></div>
                    </div>
                    
                    <div id="list" class="list-group table-of-contents">
                        
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" onclick="ApplySelectedCars()">Ок</button>
            </div>
        </div>

    </div>
</div>

<script>
    (function ($) {
        jQuery.expr[':'].Contains = function(a,i,m){
            return (a.textContent || a.innerText || "").toUpperCase().indexOf(m[3].toUpperCase())>=0;
        };

        function filterList(header, list) {
            var form = $("<form>").attr({"class":"filterform","action":"#"}),
                input = $("<input>").attr({ "class": "filterinput", "type": "text" });

            $(form).append(input).appendTo(header);

            $(input)
                .change( function () {
                    var filter = $(this).val();
                    if(filter) {
                        var matches = $(list).find('label:Contains(' + filter + ')').parent();
                        $('a', list).not(matches).hide();
                        matches.show();
                    } else {
                        $(list).find("a").show();
                    }
                    return false;
                })
                .keyup( function () {
                    $(this).change();
                });
        }

        $(function () {
            filterList($("#form"), $("#list"));
            $('#list').load("/management/car/full-list-by-detail");
        });
    }(jQuery));

    function ApplySelectedCars() {
        var container = $('#selected-cars').empty();
        $("#list").find('input:checked').each(function(index, item) {
            var span = $('<span class="label label-success" style="margin-right: 5px;"></span>')
                .html($(item).parent().text()).attr("carId", $(item).attr("carid"));

            container.append(span);
        });

    }

    function UpdateProduct() {
        var product = {
            DetailName: $('#detail-name').val(),
            ShortDescription: $('#short-description').val(),
            Description: $('#description').val(),
            Price: $('#price').val(),
            Params: [],
            Cars: []
    };
        debugger;
        $('[name="param-line"]').each(function(index, item) {
            var name = $(item).find('[name="name"]').val();
            var value = $(item).find('[name="value"]').val();

            if (name != '' && name != '') {
                product.Params.push({
                    Key: name,
                    Value: value
                });
            }
        });

        // get car list
        $("span[carid]").each(function(index, item) {
            product.Cars.push($(item).attr("carid"));
        });

        //params-container
        //short-description
        //images
        //description



        $.ajax({
            url: '/management/detail/create/',
            type: 'POST',
            data: JSON.stringify(product),
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                //-- load images
                uploadImage(data.Id, $('#images')[0].files);
                window.location = "/products/view/" + data.Id;
            },
            complete: function () {  }
        });
    }

    function uploadImage(detailGuid, files) {
        var formData = new FormData();
        
        for( var i = 0; i < files.length; i++) {
            formData.append("photo", files[i]);
        }

        $.ajax({
            url: '/management/detail/' + detailGuid+ '/add-image/',
            type: 'POST',
            data: formData, 
            async: false,
            contentType: false,
            processData: false 
        }).done(function () {

        }).fail(function () {
            console.log("An error occurred, the files couldn't be sent!");
        });
    }


    var availableGroups = [];

    function AddMoreParams() {
        
        var paramLine = $($('[name="param-line"]')[0]).clone();
        paramLine.find('input').val('');
        $('#params-container').append(paramLine);
        AssignParams();
    }

    $(function() {
        $.get("/param/groups",
            function(data) {
                $.each(data,
                    function(index, item) {
                        availableGroups.push(item.Name);
                    });
                AssignParams();
            });
    });

    function AssignParams() {
        $('[name="name"]').autocomplete({
            source: availableGroups
        });
    }
</script>

