@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="min-height: 500px; text-align: center; padding-top: 150px;">
    <h1>Ваше замовлення прийнято в роботу</h1>
    <p class="lead">Найближчим часом з вами зв'яжеться наш оператор. Очікуйте дзвінка</p>
    
    <div class="row" style="margin-top: 50px;">
        <div class="col-md-offset-2 col-md-3">
            <a href="/" class="btn btn-default btn-block">На головну</a>
        </div>
        <div class="col-md-offset-2 col-md-3">
            <a href="/Home/Catalog" class="btn btn-success">Повенутись до покупок</a>
        </div>
    </div>
</div>