@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");
html, body {
	overflow-x: hidden; 
}
h1,h2,h3,h4,h5,h6{
    color: #1e45af;
}
p{
	
}
#mainNav {
	background-color: #151515;
	/* opacity: 0.8; */
	/* font-size: 20px; */
	box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.59);
}
#mainNav a{
	color: #0071a5;
}
a:hover {
	color: gray!important;
} 
.navbar-brand{
	/* height: 70px; */
	padding-top: 0px;
}
#myCarousel{
	padding: 0;
}
.carousel-caption{
	color: white;
	box-shadow: 0px 0px 1px 3px gray;
	opacity: 0.7;
	background-color: black;
}
.advantages{
	text-align: center;
	padding-top: 50px;
	background-color: #151515;
	color: white;
}
.advantages li{
	text-align: left;
}
.abot_polyurethane{
	margin-top: 30px;
	width: 100%;
	
}
.polyurethane p{
	font-size: 20px;
	line-height: 30px;
}
.safety{
	background-image: url(background/4.jpg);
	color: #000000;
}
.practicality_and_economy{
	background-image: url(background/3.jpg);
	padding-top: 60px;
	height: 505px;
	color: white;
}

.offer li{
	text-align: left;
}
.tires{

}
footer{
	background-color: #151515;
	height: 100px;
}

.delivery_form{
	margin-top: 150px;
	margin-bottom: 120px;
}