@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");
html, body {
	overflow-x: hidden; 
}
h1,h2,h3,h4,h5,h6{
	color: #0071a5;
}
p{
	
}
#mainNav {
	background-color: #151515;
	/* opacity: 0.8; */
	/* font-size: 20px; */
	box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.59);
}
#mainNav a{
	color: #0071a5;
}
a:hover {
	color: gray!important;
} 
.navbar-brand{
	/* height: 70px; */
	padding-top: 0px;
}
#myCarousel{
	padding: 0;
}
.carousel-caption{
	color: white;
	box-shadow: 0px 0px 1px 3px gray;
	opacity: 0.7;
	background-color: black;
}
.advantages{
	text-align: center;
	padding-top: 50px;
	background-color: #151515;
	color: white;
}
.advantages li{
	text-align: left;
}
.abot_polyurethane{
	margin-top: 30px;
	width: 100%;
	
}
#polyurethane p{
	font-size: 20px;
	line-height: 30px;
}
.safety{
	background-image: url(background/4.jpg);
	color: #000000;
}
.practicality_and_economy{
	background-image: url(background/3.jpg);
	padding-top: 60px;
	height: 505px;
	color: white;
}
.offer li{
	text-align: left;
}
.delivery_form{
	margin-top: 150px;
	margin-bottom: 120px;
}
.payment_and_delivery {
	margin-top: 50px;
	text-align: center;
}
.payment_and_delivery li{
	text-align: left;
}
.maps{
	padding: 0px 0px 0px 0px;
}



footer{
	background-color: #151515;
	color: white;
	height: 150px;
	text-align: center;
}
footer li{
	list-style-type: none;
}
.tel{
	color: #ffa700;
}
/*=========================
Icons
================= */

/* footer social icons */
ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}


/* footer social icons */
.social-network a.icoRss:hover {
	background-color: #F56505;
}
.social-network a.icoFacebook:hover {
	background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
	background-color:#33ccff;
}
.social-network a.icoGoogle:hover {
	background-color:#BD3518;
}
.social-network a.icoVimeo:hover {
	background-color:#0590B8;
}
.social-network a.icoLinkedin:hover {
	background-color:#007bb7;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
}
.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: scale(360deg);
	-webkit-transform: scale(360deg);
	-ms--transform: scale(360deg);
	transform: scale(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}

a { 
}